
 .box1{
    height: 507px;
    background-color: blue;
}
.box2{
    height: 296px;
    display: flex;
}
.bor1{
    height: 296px;
    background-color: blue;
}
.bor2{
    height: 50px;
    background-color: blue;
}
.bor5{
    height: 100px;
    background-color: blue;
    margin-top: 5px;
}
.bor4{
    height: 100px;
    background-color: blue;
    margin-top: 5px;
}
.bor3{
    height: 245px;
    background-color: blue;
    margin-top: 50px;
}
